@font-face {
  font-family: 'Symbola-DayNight';
  src:  url('/fonts/Symbola-DayNight.eot');
  src:  url('/fonts/Symbola-DayNight.eot') format('embedded-opentype'),
    url('/fonts/Symbola-DayNight.ttf') format('truetype'),
    url('/fonts/Symbola-DayNight.woff') format('woff'),
    url('/fonts/Symbola-DayNight.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
