---
---

$dark: #101010;
$darker: #0a0a0a;
$darkest: #080808;
$green: #63e39b;
$greener: darken(#63e39b, 40);
$pink: #ef345d;
$primary: #36465f;
$secondary: #464646;

$font-size: 16px;
$font-family: 'Source Sans Pro', sans-serif;
$code-font-family: 'Droid Sans Mono', monospace;
$code-font-family-alt: 'Space Mono', monospace;
$font-color: #353535;

@import 'mixins';
@import 'fonts';

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
main,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted $green;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: $dark;
  color: $green;
  font-family: $code-font-family-alt;
  letter-spacing: 2px;
}

a, a:visited {
  color: $green;
  text-decoration-style: dotted;
  @include transition('color 0.15s');
}

a:hover {
  color: $pink;
  @include transition('color 0.15s');
}

.symbol {
  font-family: 'Symbola-DayNight';
}

.center { text-align: center; }
.right  { text-align: right;  }
.left   { text-align: left;   }

#logo {
  display: inline-block;
  font-size: 10em;
  margin: 1em 0;
  margin-bottom: 0.5em;
  max-width: 150px;
}

#logo-subtitle {
  margin-top: -2.5em;
}

#logo.glitch {
  @include textGlitch("glitch", 17, $green, $dark, red, blue, 150, 195);
}

body > main {
  min-height: -webkit-calc(100% - 100px);
  min-height: -moz-calc(100% - 100px);
  min-height: calc(100% - 100px);
}

body > footer {
  font-family: $code-font-family;
  font-size: 10px;
  text-align: center;
  color: #8f908a;
  margin: 20px auto;
}

/*
 * Code blocks
 */

figure {
  margin: 0 auto;
}

code, pre {
  font-family: $code-font-family;
  font-size: 12px;
}

code .lineno {
  padding-right: 10px;
}

.highlight > pre {
  padding: 15px;
  margin: 0;
}

.highlight > pre > code {
  display: block;
  overflow-x: auto;
  margin: 0;
}

.highlight > pre > code > table {
  width: 100%;
  table-layout: fixed;
  overflow-x: initial;
}

.highlight > pre > code > table .gutter {
  width: 3em;
}

.highlight > pre > code td.code {
  padding: 0;
}

.highlight > pre > code td > pre {
  margin: 0;
}

.highlight > pre > code td.code > pre {
  overflow-x: auto;
}

.highlight {
  color: #d0d0d0;
  background-color: #272822;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@import 'highlight';

/*
 * Special layouts
 */

/* Plain */

#plain #content {
  margin: auto;
  font-family: $code-font-family-alt;
}

/* Page */

#page, #article {
  background-color: $dark;
  margin: 0;
}

#page #logo a,
#article #logo a {
  text-decoration: none;
}

#page header,
#article header {
  width: 100%;
  margin: 0;
  text-align: center;
}

#page header #logo,
#article header #logo {
  font-size: 3em;
  margin: 30px auto;
  padding-top: 5px;
  text-align: center;
}

#article #content,
#page #content {
  margin: 0 50px;
  padding: 40px;
}

#article #content {
  margin: 0 auto;
  max-width: 850px;
  letter-spacing: 0;
  text-align: justify;
}

.post-list {
  display: table;
  padding: 0;
  width: 100%;
}

.post-list > li {
  display: table-row;
  list-style-type: none;
}

.post-list > li > p {
  display: table-cell;
  margin: 0;
  padding: 0 20px;
}

.post-list > li :nth-child(2) {
  width: 25em;
}

/* Article */

#article #content {
  background-color: #F0F0F0;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  color: $darker;
  overflow: hidden;
  font-family: $font-family;
}

#article #content a {
  color: $greener;
  text-decoration: none;
  @include transition('color 0.05s');
}

#article #content a:hover {
  color: $pink;
  @include transition('color 0.05s');
}

/*
 * Page-specific
 */

/* 404.html */

.typed-cursor{
  opacity: 1;
  @include animation('blink 0.7s infinite');
}
@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#excerpt {
  margin: auto;
  max-width: 800px;
  min-height: 120px;
  overflow: hidden;
}

