<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<!--
                                        
                     +++                
                    ++=                 
                  +++                   
           =++= =++~                    
        ,+++==+++=                      
       ~++      ++:                     
       ++        ++   ~++++++=          
       ++        ++  +++    +++         
       :++      ++: ++,      ,++        
        ,++++++++,  ++        ++        
           =++=     ++        ++        
                     ++=    =++         
                    =++++++++~          
                   +++                  
                 +++                    
               ,++~                     
               =+                       
                                        
         https://ptpb.pw/6E1t
-->

{% include head.html %}

  <body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1 class="symbol" id="logo">🝰</h1>
    </header>

    {{ content }}

  </body>
</html>

